<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
This is a project to test whether I can create an API using online Data or not.
<form action="/show" method="post">

You Github id:: <input type="text" name="github_id">
  <input type="submit" name="submit">
</form>

</body>
</html>>